.vpfo-lsb-single-container {
  position: relative;

  min-height: 300px;
}

.vpfo-lsb-container {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  .input-group,
  .select-group {
    margin-bottom: 1rem;

    label {
      font-family: $font-whitney;
      font-weight: 600;
      color: $ubc-blue;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .input-group input {
    display: block;
    max-width: 100%;
    border: 1px solid $ubc-grey-medium-dark;
    padding: 8px;
    height: auto;
    width: 100%;
  }

  .vpfo-lsb-table-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .vpfo-lsb-sort {
    .select-group {
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;

      label {
        margin-right: 8px;
      }
    }
  }

  .vpfo-lsb-filter-clear-all {
    display: inline-flex;
    align-items: center;
    
    svg {
      margin-left: 8px;
    }
  }

  .vpfo-lsb-filters-container {
    .vpfo-lsb-filter-clear-all {
      margin-top: 12px;
    }
  }

  .vpfo-lsb-filter-slugs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: 100%;

    .vpfo-lsb-filter-clear-all {
      padding: 5px;
    }

    .vpfo-lsb-filter-slug {
      padding-left: 8px;
      padding-right: 8px;
      background: $utility-light-grey;
      color: $ubc-blue;
      font-weight: 500;
      font-family: $font-whitney;
      line-height: 22px;
      font-size: 14px;
      margin-right: 14px;
    }
  }
}
