.vpfo-lsb-filters-container {
  @include vpfo-box-shadow;
  border-top: 16px solid $ubc-blue;
  margin-bottom: 1rem;
  padding: 16px;
  padding-bottom: 32px;
  margin-right: 16px;

  height: fit-content;
  background: $utility-white;
  position: sticky;
  overflow-y: scroll;
  top: 16px;
  max-height: 100vh;

  .input-group,
  .select-group {
    margin-bottom: 1rem;

    label {
      font-family: $font-whitney;
      font-weight: 600;
      color: $ubc-blue;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .input-group input {
    max-width: 100%;
    border: 1px solid $ubc-grey-medium-dark;
    padding: 8px;
  }

  // Styled in Filters.tsx
  .select-group select {
  }

  .vpfo-lsb-filter-heading {
    font-family: $font-whitney;
    font-weight: 700;
    color: $ubc-blue;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  // Hide up/down arrows from number input.
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}