@import 'variables';
@import 'mixins';

@import 'filters';
@import 'container';
@import 'search';
@import 'table';
@import 'loader';

@import 'classroom-card';

& {
	-webkit-font-smoothing: antialiased;
	font-family: $font-whitney;
	color: $ubc-blue;

	.btn {
		@include btn;
	}

	.btn-primary {
		@include btn-primary;
	}

	.btn-secondary {
		@include btn-secondary;
	}

	.btn-border-thick {
		border-width: 0.125rem;
	}
}